@model AboutViewModel
@{
    ViewData["Title"] = "About";
}

<section class="content">
    <div class="bg-dark">
        <img src="~/images/About/sample-img-banner.jpg" class="img-fluid" alt="Oceanlab" />
    </div>
    <div class="sub-container bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><img src="~/images/About/sample-img-block.jpg" class="img-fluid" alt="Image alt" /></div>
                <div class="col-sm-6">
                    <h2 class="title">Our vision</h2>
                    <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="title">Our vision</h2>
                    <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
                    <a href="#" class="read-more">read more</a>
                </div>
                <div class="col-sm-6"><img src="~/images/About/sample-img-block.jpg" class="img-fluid" alt="Image alt" /></div>
            </div>
        </div>
    </div>
    <div class="sub-container bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><img src="~/images/About/sample-img-block.jpg" class="img-fluid" alt="Image alt" /></div>
                <div class="col-sm-6">
                    <h2 class="title">Our vision</h2>
                    <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container bg-light">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="~/images/About/sample-img-card-middle.jpg" alt="Card image cap">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Content</p>
                        <a href="#" class="card-link read-more">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="~/images/About/sample-img-card-middle.jpg" alt="Card image cap">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Content</p>
                        <a href="#" class="card-link read-more">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="~/images/About/sample-img-card-middle.jpg" alt="Card image cap">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Content</p>
                        <a href="#" class="card-link read-more">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="~/images/About/sample-img-card-middle.jpg" alt="Card image cap">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Content</p>
                        <a href="#" class="card-link read-more">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="~/images/About/sample-img-card-middle.jpg" alt="Card image cap">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Content</p>
                        <a href="#" class="card-link read-more">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="~/images/About/sample-img-card-middle.jpg" alt="Card image cap">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Content</p>
                        <a href="#" class="card-link read-more">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="title">Our vision</h2>
                    <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
                    <a href="#" class="read-more">read more</a>
                </div>
                <div class="col-sm-6"><img src="~/images/About/sample-img-block.jpg" class="img-fluid" alt="Image alt" /></div>
            </div>
        </div>
    </div>
    <div class="sub-container bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><img src="~/images/About/sample-img-block.jpg" class="img-fluid" alt="Image alt" /></div>
                <div class="col-sm-6">
                    <h2 class="title">Our vision</h2>
                    <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div>
        </div>
    </div>
@{  if (Model != null && Model.NewsList != null)
    {
    <div class="sub-container bg-light">
        <h2 class="title text-center">News &amp; updates</h2>
        <div id="bottomCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner" role="listbox">
                @{  Int32 Counter = 0; }
                @{  foreach (News item in Model.NewsList)
                    {
                        String CssClass = "";
                        if (Counter == 0) { CssClass = "active"; }
                        if (Counter % 2 == 0)
                        {
                        @:<div class="carousel-item @CssClass">
                            @:<div class="container">
                                @:<div class="row">
                        }
                                    <div class="col-sm-12 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <small class="text-muted">@item.Date</small>
                                                <h4 class="card-title">@item.Title</h4>
                                                <p class="card-text">@item.Content</p>
                                                @if (@item.IsInternalLink) {
                                                @:<a href="@item.Link" class="card-link read-more">read more</a>
                                                } else {
                                                @:<a href="@item.Link" class="card-link read-more" target="_blank">read more</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                         if (Counter % 2 == 1) {
                                @:</div>
                            @:</div>
                        @:</div>
                        }
                        Counter++;
                    }}
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#bottomCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#bottomCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
                    }
}
</section>