@model List<News>

<div id="bottomCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
	<div class="carousel-inner" role="listbox">
		@{  Int32 Counter = 0; }
		@{  foreach (News item in Model)
			{
				String CssClass = "";
				String TartgetBlank = "";
				if (Counter == 0) { CssClass = "active"; }
				@if (!@item.IsInternalLink) { TartgetBlank = "target='_blank'"; }
				if (Counter % 2 == 0)
				{
					@:<div class="carousel-item @CssClass">
						@:<div class="container">
							@:<div class="row">
								}
				<div class="col-sm-12 col-md-6">
					<div class="card">
						<div class="card-body">
							<small class="text-muted">@item.Date</small>
							<h4 class="card-title">@item.Title</h4>
							<p class="card-text">@item.Content</p>
								<a href="@item.Link" class="card-link read-more" @TartgetBlank>read more</a>
								<a href="@item.Link" class="card-link read-more" target="_blank">read more</a>
						</div>
					</div>
				</div>
				if (Counter % 2 == 1)
				{
					@:</div>
				@:</div>
			@:</div>
								}
				Counter++;
			}}
	</div>
	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#bottomCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#bottomCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>